<header class="header">
    <div class="header_info">
        <div class="site-title">Le Cabinet</div>
        <nav class="nav">
        <ul class="navbar">
            <li class="navbar_item"><a class="navbar_item_link" routerLink="/">Accueil</a></li>
            <li class="navbar_item"><a class="navbar_item_link" routerLink="/infirmier">Infimiers</a></li>
            <li class="navbar_item"><a class="navbar_item_link" routerLink="/patient">Patients</a></li>
            <li class="navbar_item"><a class="navbar_item_link" routerLink="/deplacement">Déplacements</a></li>
        </ul>
    </nav>
    </div>
</header>
