<header class="header">
    <div class="header_info">
        <div class="div-info">
            <div class="site-logo"><img src="../../../../assets/images/pikachu.png" alt=""></div>
            <div class="site-title">Pikabinet</div>
        </div>
        <nav class="nav">
        <ul class="navbar">
            <li class="navbar_item"><a class="navbar_item_link" routerLink="/">Accueil</a></li>
            <li class="navbar_item"><a class="navbar_item_link" routerLink="/infirmier">Infimiers</a></li>
            <li class="navbar_item"><a class="navbar_item_link" routerLink="/patient">Patients</a></li>
            <li class="navbar_item"><a class="navbar_item_link" routerLink="/deplacement">Déplacements</a></li>
        </ul>
    </nav>
    </div>
</header>
