<main class="main">
    <div class="main_content">
        <h1 class="page-title">Application Cabinet Médical du Bourg-Palette</h1>
        <p class="page-description">Gestion des infirmiers, patients et déplacements du cabinet</p>
        <div class="card-list">
            <div class="card">
                    <h2 class="card_title">Infirmiers</h2>
                    <img class="card_img" src="../../../../assets/images/nurse.png" alt="infirmiers" width="64" height="64">
                    <a routerLink="/infirmier" class="card_link">Voir plus</a>
            </div>
            <div class="card">
                    <h2 class="card_title">Patients</h2>
                    <img class="card_img" src="../../../../assets/images/patient.png" alt="patients" width="64" height="64">
                    <a routerLink="/patient" class="card_link">Voir plus</a>
            </div>
            <div class="card">
                    <h2 class="card_title">Déplacements</h2>
                    <img class="card_img" src="../../../../assets/images/car.png" alt="deplacements" width="64" height="64">
                    <a routerLink="/deplacement" class="card_link">Voir plus</a>
            </div>
        </div>
    </div>
</main>
