<h1>Déplacements</h1>
<a routerLink="/deplacement/create">Ajouter</a>
<div *ngFor="let deplacement of deplacements">
    <p>Coût: {{ deplacement.cout }}</p>
    <p>Date: {{ deplacement.date | date: "le dd-MM-yyyy à HH:mm:ss"}}</p>
    <button (click)="deleteDeplacement(deplacement.id)">Supprimer</button>
    <button (click)="updateForm()">Modifier</button>
    <form *ngIf="isUpdate" [formGroup]="deplacementFormUpdate">
        <input id="updateCout" type="number" formControlName="cout">
        <button type="submit" (click)="putDeplacement(deplacement.id)">Valider</button>
    </form>
    <hr>
</div>